/* fonts from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */

/* font-family */

*{
    font-family: 'Work Sans';
}

/* common text color */

.text-color{
    color: #534C64;
}

/* Capital G of gamer */

.gamer-name-color{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* primary button */

.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-primary-go-rouge{
    width: 187px;
    background: #4EC5F7;
    margin-left: 20px;
}

/* header styles */

/* navigation */

.nav-container{
    width: 100%;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo-img{
    width: 86px;
    height: 40px;
}

.nav-logo-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-bar{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-bar a{
    color: #3C354F;
    text-decoration: none;
}

.nav-bar-btn{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}

/* banner styles */

.banner-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    height: 700px;
    display: flex;
    padding-left: 184px;
    align-items: center;
}

.background-image{
    width: 40%;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 760px 680px;
}

.banner-content button{
    margin-top: 40px;
    margin-bottom: 100px;
}

.banner-content .banner-description{
    margin-top: 24px;
}

.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* main styles */

/* online games funny videos */

.online-games-content{
    text-align: center;
}

.online-games-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;
}

.online-games-card{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.online-games-card-1{
    margin-left: 28px; 
}

/* play instantly, no downloads no installs */

.play-instantly-container{
    display: flex;
    position: relative;
}

.play-instantly-content{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
}

.play-instantly-content > div{
    text-align: center;
    margin-left: 250px;
}

.play-instantly-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.play-instantly-title-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description{
    font-size: 18px;
    font-weight: 400;
}

.play-instantly-images{
    width: 50%;
}

.play-instantly-images > img{
    width: 450px;
    position: absolute;
    right: 150px;
    top: 120px;
}

.play-instantly-images div img{
    width: 250px;
    position: absolute;
    bottom: 60px;
    right: 450px;
    
}

/* games category styles */

.games-category-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 50px;
}

.games-category-content a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #0B0223;
}

.games-category-content p{
    font-weight: 600;
}

.games-category-content a:hover{
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #FF48A8;
    color: #FF48A8;
}

/* footer styles */
.footer-container{
    background: #0B0223;
    margin-top: 120px;
}

.footer-gamer-color{
    color: #FFF;
}

.footer-container .nav-logo{
    justify-content: center;
}

.footer-bar{
    display: grid;
    grid-template-columns: 150px 120px 150px 120px 120px 110px;
    justify-content: center;
    align-items: center;
}
.footer-bar-text{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon{
    display: flex;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.terms-privacy{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 200px 150px 150px 150px;
    justify-content: center;
}

.terms-privacy-text, .footer-copyright{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright{
    text-align: center;
}
